<footer class="footer">
    <div class="footer__img">
        <img
            class="img__left"
            src="../../../../images/pixels/footer/8.png"
            alt=""
        />
        <img
            class="img__right"
            src="../../../../images/pixels/footer/5.png"
            alt=""
        />
    </div>
    <div class="container">
        <div class="footer__wrapper">
            <div class="contact">
                <div class="contact__logo">
                    <img src="./../../../../images/vector/food-logo.svg" />
                    <div class="contact__name">F.palace</div>
                </div>
                <div class="email">
                    <div class="email__contact">
                        <img
                            src="../../../../images/pixels/footer/bi_globe.png"
                            alt=""
                        />
                        <p>info@food_palace.com</p>
                    </div>
                    <div class="email__site">
                        <img
                            src="../../../../images/pixels/footer/Frame 54.png"
                            alt=""
                        />
                        <p>Www.Food_palace.com</p>
                    </div>
                </div>
            </div>
            <div class="footer__information">
                <!-- подключается скрипт footerRender() -->
            </div>
        </div>
    </div>
</footer>
