.takeaway__block {
}

.takeaway {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 118px;
}
.takeaway__left {
    margin-top: 131px;
}
.img {
}
.takeaway__right {
    width: 450px;
}
