@use "../../../tools/mixins/index" as *;

.takeaway__block {
}

.takeaway {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 118px;
}
.takeaway__left {
    margin-top: 131px;
    @include tablet {
        display: none;
    }
}
.img {
}
.takeaway__right {
    width: 450px;
    @include tablet {
        width: 100%;
        padding-bottom: 40px;
    }
}
