@use "./../../../tools/functions/index" as *;
@use "../../../tools/vars/index" as *;
@use "../../../tools/mixins/index" as *;

.home {
    display: flex;
    justify-content: start;
    margin-top: rem(40px);
    background-color: #fffefc;
}
.home__left {
    width: rem(590px);
}

.line {
    margin-bottom: rem(10px); // Уменьшите отступ снизу, если нужно
}
.home__smile {
    margin-top: rem(30px);
    width: 52px;
    height: 52px;
    flex-shrink: 0;
}
.home__title {
    color: #232323;
    font-family: $font-famaly;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: 108px;
    @include fontface("Gilroy", "Gilroy-ExtraBold", 800, normal);
}
.home_subtitle {
    margin-top: rem(13px);
    color: #3f3232;
    font-family: $font-famaly;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
}

.social {
    margin-top: rem(60px);
    display: flex;
    gap: 40px;
}
.social__icon {
    width: 35px;
    height: 35px;
    // padding: 10px 13px;
}
.btn__icon {
    padding: 10px 13px;
    border-radius: 100%;
}
.home__right {
    // box-shadow: $shadowBtn;
}
