<section>
    <div class="wrapper__features">
        <img
            class="img__left"
            src="../../../../images/pixels/features1.png"
            alt=""
        />
        <img
            class="img__right"
            src="../../../../images/pixels/features3.png"
            alt=""
        />
    </div>
    <div class="container">
        <div class="feature">
            <p class="text__menu">Features</p>
            <h1 class="service">Our Awesome Services</h1>
            <div class="delivery">
                <div class="delivery__service">
                    <img
                        src="../../../../images/pixels/feature/food.png"
                        alt="food"
                    />
                    <h1 class="service__name">Quality Food</h1>
                    <p class="service__text">
                        Keep healthy food readily available. When you get
                        hungry, you’re more likely to
                    </p>
                </div>
                <div class="delivery__service">
                    <img
                        src="../../../../images/pixels/feature/emojione.png"
                        alt="food"
                    />
                    <h1 class="service__name">Quality Food</h1>
                    <p class="service__text">
                        Keep healthy food readily available. When you get
                        hungry, you’re more likely to
                    </p>
                </div>
                <div class="delivery__service">
                    <img
                        src="../../../../images/pixels/feature/truck.png"
                        alt="food"
                    />
                    <h1 class="service__name">Quality Food</h1>
                    <p class="service__text">
                        Keep healthy food readily available. When you get
                        hungry, you’re more likely to
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
