<section class="feature__block">
    <div class="wrapper__img">
        <img
            class="img__left"
            src="../../../../images/pixels/features1.png"
            alt=""
        />
        <img
            class="img__right"
            src="../../../../images/pixels/features3.png"
            alt=""
        />
    </div>
    <div class="container">
        <div class="feature">
            <p class="text__menu">Features</p>
            <h1 class="service">Our Awesome Services</h1>
            <div class="delivery"><!-- подключен скрипт feature --></div>
        </div>
    </div>
</section>
