@use "../../../tools/mixins/index" as mix;

.menu {
    &__body {
        height: 100%;
        @include mix.flex(space-between, center);
        gap: 10px;

        @include mix.smalltablet {
            flex-direction: column;
        }
    }
    &__item {
        a {
            color: #2e2e2e;
            font-family: Gilroy;
            font-size: 22px;
            font-weight: 700;
            // text-transform: lowercase;
        }
    }
}
.nav {
    @include mix.flex(space-between, center);
}
.nav__logo {
    @include mix.flex(space-between, center);
    gap: 6px;
}

.nav__name {
    color: #2e2e2e;
    font-family: Gilroy;
    font-size: 22px;
    font-weight: 700;
    text-transform: lowercase;
}
.nav__center {
    padding-left: 180px;
}
.nav__icon {
    @include mix.flex(space-between, center);
    gap: 62px;
}
.img__btn {
    cursor: pointer;
}
