@use "../../../tools/mixins/index" as mix;

.menu {
    &__body {
        height: 100%;
        @include mix.flex(space-between, center);
        gap: 10px;

        @include mix.smalltablet {
            flex-direction: column;
        }
    }
    &__item {
        a {
            color: #2e2e2e;
            font-family: Gilroy;
            font-size: 22px;
            font-weight: 700;
            // text-transform: lowercase;
        }
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    @include mix.flex(space-between, center);
    position: fixed; /* Сделать навигацию фиксированной */
    top: 0; /* Привязать к верхней части страницы */
    left: 0; /* Привязать к левому краю */
    width: 100%; /* Занимает полную ширину */
    z-index: 1000; /* Обеспечить отображение поверх других элементов */
    background-color: white; /* Цвет фона навигации */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Немного тени для эффекта подъема */
}
.nav__logo {
    @include mix.flex(space-between, center);
    gap: 6px;
}

.nav__name {
    color: #2e2e2e;
    font-family: Gilroy;
    font-size: 22px;
    font-weight: 700;
    text-transform: lowercase;
}
.nav__center {
    padding-left: 180px;
}
.nav__icon {
    @include mix.flex(space-between, center);
    gap: 62px;
}
.img__btn {
    cursor: pointer;
}
