<section class="recipes__wrapper">
    <div class="recipes container">
        <div class="recipes__head">
            <div class="recipes__text">
                <p class="text__menu">Recipes</p>
                <h1 class="recipes__subtitle">Most Popular Items</h1>
            </div>
            <img
                class="recipes__img"
                src="../../../../images/pixels/recipes/recipes.png"
            />
        </div>
        <div class="recipes__cards"><!-- подключен скрипт recipes --></div>
        <button class="btn padding">See more recipes</button>
    </div>
</section>
