<section>
    <div class="home">
        <div class="home__left">
            <p class="home__menu">Restaurant</p>
            <h1 class="home__title">Good Food</h1>
            <h1 class="home__title">Good Mood</h1>
            <p class="home_subtitle">
                The food palace is an neighborhood restaurent serving seasonal
                global cuisine driven by the faire.
            </p>
        </div>
        <div class="home__right">
            <img
                src="../../../../images/pixels/food-home.png"
                alt="food"
                srcset=""
            />
        </div>
    </div>
</section>
