<section>
    <div class="home">
        <div class="home__left">
            <div class="home__menu">
                <p class="line">__</p>
                <p>Restaurant</p>
            </div>
            <div class="home__title">
                Good F<img
                    class="home__smile"
                    src="../../../../images/vector/home-food1.svg"
                    alt="smile"
                />
                <img
                    class="home__smile"
                    src="../../../../images/vector/home-food1.svg"
                    alt="smile"
                />d
            </div>
            <div class="home__title">
                Good M
                <img
                    class="home__smile"
                    src="../../../../images/vector/home-smile.svg"
                    alt="smile"
                />
                <img
                    class="home__smile"
                    src="../../../../images/vector/home-smile.svg"
                    alt="smile"
                />
                d
            </div>
            <p class="home_subtitle">
                The food palace is an neighborhood restaurent serving seasonal
                global cuisine driven by the faire.
            </p>
            <button class="btn">Explore food menu</button>
            <div class="social">
                <button class="btn__icon">
                    <img
                        class="social__icon"
                        src="../../../../images/vector/face.svg"
                        alt=""
                        srcset=""
                    />
                </button>
                <button class="btn__icon">
                    <img
                        class="social__icon"
                        src="../../../../images/vector/instagram.svg"
                        alt=""
                        srcset=""
                    />
                </button>
                <button class="btn__icon">
                    <img
                        class="social__icon"
                        src="../../../../images/vector/twitter.svg"
                        alt=""
                        srcset=""
                    />
                </button>
            </div>
        </div>
        <div class="home__right">
            <img
                src="../../../../images/pixels/food-home.png"
                alt="food"
                srcset=""
            />
        </div>
    </div>
</section>
