<!-- @@include("../../elements/burger.html", {})
@@include("../../../plugins/menu.html", {}) -->
<div class="nav">
    <div class="nav__logo">
        <img src="./../../../../images/vector/food-logo.svg" />
        <div class="nav__name">F.palace</div>
    </div>
    <img src="../../../../images/pixels/burger.png" class="nav__center" />
    <div class="nav__icon">
        <img
            class="img__btn"
            src="../../../../images/pixels/search.png"
            alt="search"
        />
        <img
            class="img__btn"
            src="../../../../images/pixels/suitcase.png"
            alt="suitcase"
        />
        <img
            class="img__btn"
            src="../../../../images/pixels/menu.png"
            alt="menu"
        />
    </div>
</div>
